@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}

.active hr {
    @apply block
}

::-webkit-scrollbar {
    @apply hidden
}

.animate-progress {
    animation: progress 3s linear;
}

@media (max-width:768px) {
        .active p {
            @apply text-white bg-primary
        }
}

@keyframes progress {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}